<footer class="footer">
  <div class="container">
    <small>
      The <a href="https://github.com/gapra/sample_app_2">Ruby on Rails Sample app</a>
      by <a href="http://www.gapraart.com/">Gapra</a>
    </small>
    <small class="right">
        <%= link_to "About",   about_path %> | 
        <%= link_to "Contact", contact_path %> | 
        <%= link_to "Help", help_path %>
    </small>
  </div>
</footer>